.sidebar_small ul li i {

    color: black !important;
    padding-bottom: 0px !important;
    padding-top: 20px !important;
}

.sidebar_small ul li a {

    color: black !important;
    padding-bottom: 0px !important;

}

.sidebar_small {
    font-size: medium !important;
    width: 88px;
    margin-top: 60px;
    padding-top: 1%;

}


.sidebar_small {
    display: none;
    background: #EEEEEE;

    min-height: 100vh;
    /* background-image: linear-gradient(to bottom right, #ECE9E6, #fff); */

}



.sidebar_small ul li {
    display: grid;
    grid-template-columns: 28px;
    justify-content: center;
    justify-items: center;
    grid-gap: 0;
    color: #49691F !important;
    background-color: #EEEEEE;
    padding: 20px 0;
    font-size: 15px;
    letter-spacing: 0.03rem;
    width: 80px;
}

.sidebar_small ul li i {

    font-size: x-large;
}

.sidebar_small ul {
    margin-left: 6px !important;
}


.sidebar_small ul li:hover {
    background: rgba(0, 0, 0, 0.1);
    cursor: pointer;

}

.sidebar_small {
    display: block;

}